<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.cloud.system.infrastructure.persistence.mapper.SysRoleMapper">
    
    <select id="queryUserRole" resultType="com.zsh.cloud.system.infrastructure.persistence.entity.SysRoleDO">
        select r.* from sys_role r
        INNER JOIN sys_user_role sur on sur.role_id = r.id
        where sur.user_id = #{userId} and r.del_flag = 0 and r.status = 1
    </select>
</mapper>
